@import "tailwindcss";

/* Elegant modern scrollbar */
.notes-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.notes-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.notes-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #c7c9f5 0%, #a0a4ff 100%);
  border-radius: 10px;
  transition: all 0.3s ease;
}

.notes-scrollbar::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #a6a9ff 0%, #868bff 100%);
  box-shadow: 0 0 4px #8d8fff80;
}
